<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/aboutstyle.css">
</head>
<body>
    <nav>
        <div>
            <a href="home.html">Home</a>
            <a href="about.html">About Me</a>
            <a href="gallery.html">Gallery</a>
            <a href="projects.html">Projects</a>
            <a href="contact.html">Contact</a>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="image-section">
                <img src="../My images/elegant.jpg" alt="Profile Picture">
            </div>
            <div class="text-section">
            <h1>I'm Emmanuel, a teen who loves new experiences and learning new things.</h1>              
                <p>For the past years I have been trying to focus on self-improvement together with obtaining as many new skills for myself.</p>
                <p>I am a software engineerin student and during my course I have learned how to use software in order to make websites, animations, editing and data analysis.</p>
                <p>Out of the my lessons you'll find me going to the gym, playing and watching football and travelling around the world.</p>
            </div>
        </div>
    </main>
</body>
</html>